/* start custom scss snippet */

.image-inline {
    max-width: 100%;
    height: auto;
  }

.acknowledgment {
    font-size: 0.8rem; /* Tamanho da fonte menor */
    color: #777; /* Cor do texto do reconhecimento */
    margin-top: 1rem; /* Espaçamento superior */
  }
/* end custom scss snippet */